<% if @phrases %>
  <ol>
    <h1>Results: <%= @phrases.count %></h1>
    <% @phrases.each do |p| -%>
      <li><h2><%= link_to "#{p.chinese}", phrase_path(p.id) %></h2>
      Definition: <%= p.definition %>
      <p><i class="fa fa-arrow-right"></i> <%= link_to "#{p.list.name}", list_path(p.list.id) %></p>
      </li>
    <% end -%>
  </ol>
<% else %>
  <h3>No results found!</h3>
<% end %>
