<ol class="breadcrumb">
  <li>
    <i class="fa fa-list"></i> <%= link_to 'Lists', lists_path %>
  </li>
  <li class="active">
    <i class="fa fa-comments"></i> Basic
  </li>
  <li class="active">
    </i> <%= @phrase.chinese %>
  </li>
</ol>
