/* line 1, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
a:hover {
  text-decoration: none;
}

/* line 5, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.navbar-brand {
  font-family: 'Lobster Two', cursive;
  font-size: 24px;
}

/* line 10, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.navbar-inverse .navbar-brand {
  color: #fc4;
  -webkit-transition: color 500ms ease-out 200ms;
  -moz-transition: color 500ms ease-out 200ms;
  -o-transition: color 500ms ease-out 200ms;
  transition: color 500ms ease-out 200ms;
}

/* line 18, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.navbar-inverse .navbar-brand:hover {
  color: #ccc;
}

/* line 22, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
#content {
  padding: 10px;
}

/* line 26, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.chinese {
  font-size: 5em;
}

/* line 30, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.pinyin {
  font-size: 1em;
}

/* line 34, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
@media (min-width: 768px) {
  .slogan {
    font-family: 'Nunito', sans-serif;
    font-size: 0.5em;
    position: absolute;
    top: 18px;
    left: 105px;
  }
}

.slogan {
  font-family: 'Nunito', sans-serif;
  font-size: 0.5em;
  position: absolute;
  top: 18px;
  left: 105px;
}

/* line 42, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
textarea {
  border: none;
  border-color: Transparent;
  overflow: auto;
}

/* line 48, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.modal-dialog {
  width: 450px;
}

/* line 52, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.modal-header, .modal-footer {
  background-color: #ccc;
}

/* BACKGROUND VIDEO */
/* line 58, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.video-section .pattern-overlay {
  top: 0;
  background-color: rgba(71, 71, 71, 0.59);
  padding: 110px 0 32px;
  min-height: 496px;
  /* Incase of overlay problems just increase the min-height*/
}

/* line 65, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.video-section h1, .video-section h3 {
  text-align: center;
  color: #fff;
}

/* line 69, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.video-section h1 {
  font-size: 110px;
  font-family: 'Lobster Two', cursive;
  color: #fc4;
  margin: 40px auto 0px;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
}

/* line 78, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.video-section h3 {
  font-size: 25px;
  font-weight: lighter;
  margin: 0px auto 15px;
}

/* line 83, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.video-section .buttonBar {
  display: none;
}

/* line 86, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.player {
  font-size: 1px;
}

/* line 90, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.top {
  position: absolute;
  top: 13px;
  right: 13px;
  color: #fff;
}

/* line 95, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.main_link, .main_link:hover {
  color: #fff;
}

/* line 99, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
#canvasCH {
  border: 1px solid #ccc;
}

/* SEARCH BAR */
/* line 105, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
#custom-search-form {
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

/* line 111, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 124, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
#custom-search-form button {
  border: 0;
  background: #ccc;
  /** belows styles are working good */
  padding: 2px 5px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 138, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.search-query:focus + button {
  z-index: 3;
}

/* line 142, /Users/mandyyeung/Development/sci_fair/chime/app/assets/stylesheets/custom.css.scss */
.gravatar {
  border-radius: 20%;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
}

.phrase_edit {
  color:"#8a6d3b";
}

#canvasDiv {
  display:block;
  width:50%;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 30px;
}

.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover {
  cursor: pointer;
}
.rating span.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #999999;
}
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #e3cf7a;
}
